@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "Ramen Hot";
    src: url(font/ramen-hot.ttf);
}

:root {
    --width-image: 40vw;
    --font-size: 1.4rem;
    --primary-color: #FCF5ED;
    --secondary-color: #000000;
    --link-color: #E30613;
    --link-hover-color: #FDDC01;
    transition: all 0.5s ease-in-out;
}

:root.dark-mode {
    --primary-color: #1B1716;
    --secondary-color: #FCF5ED;
    --link-color: #FDDC01;
    --link-hover-color: #E30613;
}

.toggle {
    position: relative;
    font-size: calc(var(--font-size) + 0.2rem);
    text-align: center;
    height: 50px;
    width: 120px;
    border-radius: 50px;
    background-color: #FCF5ED;
    border: 2px solid #000000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-left: 60%;
}

.toggle::before {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    content: '☀️';
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E30613;
}

.toggle.active:before {
    content: '🌙';
    background-color: #000000;
    left: calc(100% - 46px);
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: "Bebas Neue", sans-serif;
}

body > div:first-child {
    position: relative;
    color: whitesmoke;
    width: var(--width-image);
    background-image: url("image/background/japanese-street.jpg");
    background-size: cover;
    background-position: center;
}

.title-div {
    position: absolute;
    top: 250px;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

img[src*="logo"] {
    width: 144px;
    padding: 30px;
    margin: 0 50px;
}

.title {
    font-family: "Ramen Hot", sans-serif;
    font-size: 3rem;
    letter-spacing: 3.5px;
    color: #FDFDFD;
}

.title-div + p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: calc(var(--font-size) - 0.45rem);
    text-align: center;
    margin-top: 96vh;
}

a[href*="unsplash"] {
    color: #FDDC01;
}

a[href*="unsplash"]:hover {
    color: #E30613;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: calc(100% - var(--width-image));
    padding: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: calc(var(--font-size) - 0.15rem);
}

.form-section div:nth-child(n+2) {
    width: 70%;
    font-size: var(--font-size);
}

h2 {
    letter-spacing: 4px;
}

p em {
    color: var(--link-color);
    margin-right: 4px;
}

fieldset {
    position: relative;

    width: max(60%, 650px);
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
}

legend {
    font-size: calc(var(--font-size) + 0.2rem);
    letter-spacing: 2px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 6px 12px;
}

img[alt="ramen"] {
    position: absolute;
    width: 8vw;
    left: 70%;
    bottom: 85%;
}

fieldset > div {
    display: flex;
    justify-content: flex-start;
    gap: 6%;
}

fieldset p {
    font-size: var(--font-size);
    margin: 4px 12px 16px;
    text-decoration: underline;
}

.user-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 12px 6px;
}

fieldset > div:not(:last-child) .user-input:nth-child(even) {
    margin-left: -32px;
}

input:focus {
    border-color: #000000;
    border-radius: 8px;
}

.valid {
    border: none;
    outline: 2px solid #228B22;
    border-radius: 8px;
    margin: 2px;
}

.invalid {
    border: none;
    outline: 2px solid #E30613;
    margin: 2px;
}

label[for^="pwd"] {
    margin-bottom: 7px;
}

#pwd-alert {
    font-size: calc(var(--font-size) - 0.4rem);
    color: #E30613;
    margin-top: 6px;
}

label + div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -8px;
}

.invalid-image::after {
    background-image: var(--narutomaki);
    background-size: 45px 45px;
    display: inline-block;
    width: 45px;
    height: 45px;
    content: "";
}

input {
    font-size: calc(var(--font-size) - 0.2rem);
    padding: 6px;
}

fieldset + p {
    font-size: 1rem;
    padding-left: 12px;
    margin: 6px 0 14px;
}

button {
    font-family: "Bebas Neue", sans-serif;
    font-size: var(--font-size);
    letter-spacing: 2px;
    width: 150px;
    padding: 8px;
    border: 2px solid var(--secondary-color);
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    color: #FCF5ED;
    background-color: #E30613;
}

.form-section > div:last-child p {
    font-size: calc(var(--font-size) - 0.15rem);
    margin: 0 8px;
}

a[href="#"] {
    color: var(--link-color);
    margin-left: 6px;
}

a[href="#"]:hover {
    color: var(--link-hover-color);
}

.form-completed {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25vh;
    width: 60%;
}

.form-completed p {
    line-height: 1.5;
}

.form-subheading, #return { 
    margin-left: 8px;
}
