:root {
    --width-image: 40vw;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
}

body > div:first-child {
    background-color: red;
    color: whitesmoke;
    width: var(--width-image);
    background-image: url("image/background/denys-nevozhai-D68ADLeMh5Q-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.form-section {
    width: calc(100% - var(--width-image));
    padding: 20px;
    background-color: blue;
    color: whitesmoke;
}

/* .background {
    position: relative;
    height: 100vh;
}

div {
    position: absolute;
    top: 200px;
} */