body {
    display: flex;
    margin: 0;
    height: 100vh;
}

body > div:first-child {
    background-color: red;
    color: whitesmoke;
    width: 60vw;
    background-image: url("image/background/denys-nevozhai-D68ADLeMh5Q-unsplash-cropped.jpg");
    background-size: cover;
    background-position: center;
}

div {
    padding: 20px;
    background-color: blue;
    color: whitesmoke;
}

/* .background {
    position: relative;
    height: 100vh;
}

div {
    position: absolute;
    top: 200px;
} */